@using Microsoft.Extensions.Options;
@inject IOptions<OktaSettings> oktaSettings;

@{
    ViewData["Title"] = "Login";
}

<script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.12.0/js/okta-sign-in.min.js" type="text/javascript"></script>
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.12.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet" />

<h2>Login</h2>

<div id="widget"></div>



<form method="POST" asp-action="Login">
    <input type="hidden" name="sessionToken" id="hiddenSessionTokenField" />
</form>

<form method="POST" asp-action="LoginWithIdp">
    <input type="hidden" name="idp" id="hiddenIdPIdField" />
</form>

<script type="text/javascript">
    const signIn = new OktaSignIn({
        baseUrl: 'https://dev-960686.oktapreview.com',
        customButtons: [{title: 'Login With Microsoft',
           className: 'loginWithGoogle',
           click: function() {
              var idpIdField = $("#hiddenIdPIdField");
               idpIdField.val('0oah6pxpf3N5j8R8v0h7');
              var theForm = idpIdField.parent();
              theForm.submit();
           }
        }]
    });

    signIn.renderEl({ el: '#widget' }, (res) => {
        var sessionTokenField = $("#hiddenSessionTokenField");
        sessionTokenField.val(res.session.token);
        var form = sessionTokenField.parent();
        form.submit();
    }, (err) => {
        console.error(err);
    });
</script>